.navbar-logo {
    height: 40px;
    width: auto;
    object-fit: contain;
}

.mainLogo {
    height: 500px;
    width: auto;
    object-fit: contain;
    border-style: groove;
    border-color: rgb(5, 20, 100);
}

.ttfaMap {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

p, li, h5 {
    color: rgb(5, 20, 100);

}

#vendor-table-main thead th {
    background-color: rgb(5, 20, 100);
    color: white;
    text-align: center;
}
#admin-vendor-table thead th {
    background-color: rgb(5, 20, 100);
    color: white;
    text-align: center;
}

#vendor-table-main tbody tr, td {
    color: rgb(5, 20, 100);
    text-align: center;
}

#vendor-table-modal thead th{
    background-color: rgb(5, 20, 100);
    color: rgb(247,244,242);
}

#event-table-modal thead th{
    background-color: rgb(5, 20, 100);
    color: rgb(247,244,242);
    text-align: center;
}

#searchbar {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: solid rgb(5, 20, 100);
    border-radius: 25px;
    margin-bottom: 12px;
}

#main-btn {
    color: white;
    background-color: rgb(75,156,211);
}

#main-btn:hover {
    background-color: rgb(55,126,181);
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(22%) sepia(97%) saturate(748%) hue-rotate(178deg) brightness(91%) contrast(101%);
}

.dropdown {
    color: rgb(5, 20, 100);
    background-color: white;
    border: 1px solid rgb(5, 20, 100);
    padding: 5px;
    border-radius: 5px;
}

#portalContainer {
    border-top: solid rgb(5, 20, 100);
    /* border-bottom: solid rgb(5, 20, 100); */
    border-radius: 5px;
}

.btn-outline-danger {
    color: rgb(75,156,211);
    border-color: rgb(75,156,211);
    transition: all 0.3s ease;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger.active {
    background-color: rgb(55, 126, 181);
    color: white;
    border-color: rgb(55, 126, 181);
}

.btn-check:checked + .btn-outline-danger {
    background-color: rgb(75,156,211);
    color: white;
    border-color: rgb(75,156,211);
}

.btn-check:not(:checked) + .btn-outline-danger {
    background-color: transparent;
    color: rgb(75,156,211);
    border-color: rgb(75,156,211);
}